<nav class="navbar navbar-light bg-primary">
<div class="container-fluid">
    <h1 style="color: aliceblue">Angular CRUD </h1>
    <div class="d-flex">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
         Add Employee
          </button>
    </div>
</div>
</nav>


<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">EmployeeID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Mobile Number </th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody *ngFor="let row of employeeData">
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>
            <td>
                <button  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" class=" btn btn-info" (click)="onEdit(row)">Edit</button>
                <button class="btn btn-danger mx-3" (click)="deleteEmployee(row)">Delete</button>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="lastName" class="form-label" hidden>EmpID</label>
                        <input type="text" formControlName="id" class="form-control" hidden>
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Mobile </label>
                        <input type="text"  formControlName="mobile" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Salary</label>
                        <input type="text"  formControlName="salary" class="form-control">
                    </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" id='cancel' class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button *ngIf="showAdd" button class="btn btn-primary" (click)="postEmployeeDetails()">Add Employee</button>
    <button *ngIf="showUpdate" type="button" class="btn btn-primary" (click)="updateEmployeeDetails()">Update</button>
</div>
</div>
</div>
</div>